/* Image de fond du header */
.header-banner {
  background-image: url("bamboo-7866718_640.jpg"); /* Remplace par ton image */
  background-size: cover;
  background-position: center;
  height: 30vh; 
  position: relative;
  color: white;
}

.header-banner .overlay {
  background-color: rgba(0, 0, 0, 0.5); 
  height: 100%;
  width: 100%;
  padding: 1rem;
}

nav{
    color: aliceblue;
}

.frog{
    overflow: hidden;
    width: 80%;
    height: 30vh;
}

.jaguar{
        overflow: hidden;
    width: 90%;
    height: 15vh;
}

.parrot{
    overflow: hidden;
    width: 90%;
    height: 15vh;
}

.rainforest{
    overflow: hidden;
    width: 90%;
    height: 15vh;
}

.crocodile{
    overflow: hidden;
    width: 90%;
    height: 15vh;
}

.snake{
    overflow: hidden;
    width: 90%;
    height: 15vh;
}

.toucan{
    overflow: hidden;
    width: 90%;
    height: 15vh;
}

/* footer  */
.footer-banner {
  background-image: url("bamboo-7866718_640.jpg"); 
  background-size: cover;
  background-position: center;
  height: 20vh; 
  position: relative;
}

.footer-banner .overlay {
  width: 100%;
  height: 100%;
}

form{
   padding: 14px;
    border: solid 15px rgb(82, 99, 82);}

.cellule{
    height: 15vh;
}
